body .bg {
    position: relative;
    z-index: -1;
    display: grid;
    bottom: 0;
    width: 200vw;
    background:var(--accent);
}



.bg .bubbles .bubble {
    position: absolute;
    background:var(--accent);
    border-radius:100%;
    left: var(--xposition);
    top: var(--yposition);
    margin: auto;    


    animation-name: bubble-size, bubble-bounce;
    animation-duration: var(--time, 4s), calc(var(--time, 4s) * 0.3);
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-delay: var(--delay, 0.1s), calc(var(--delay, 0.1s) + var(--time, 4s));
    animation-direction: normal, normal;
    animation-fill-mode: forwards, forwards;
    animation-play-state: running, running;

    /* -webkit-animation-name: bubble-size, bubble-move;
    -webkit-animation-duration: var(--time, 4s), var(--time, 4s);
    -webkit-animation-timing-function: ease-in, ease-in;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-delay: var(--delay, 0.1s), var(--delay, 0.1s);
    -webkit-animation-direction: normal, normal;
    -webkit-animation-fill-mode: none, none;
    -webkit-animation-play-state: running, running; */

    /* transform:translate3d(-50%, 100%, 0); */
    /* transform: translate(-50%, 100%); */
}

.bg .bubbles {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    height: max(10vh, 40px);
    width: 200vw;
    /* background:var(--accent); */
    /* -webkit-filter:url("#blob");
    filter:url("#blob"); */
}

@keyframes bubble-size {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width:var(--size, 4rem);
        height:var(--size, 4rem);
        transform: translate(calc(var(--size, 4rem) * -0.5), calc(var(--size, 4rem) * -0.5))
    }
}

@keyframes bubble-bounce {
    0% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }
    50% {
        width: calc(0.85 * var(--size, 4rem));
        height: calc(0.85 * var(--size, 4rem));
        /* transform: translate(calc(var(--size, 4rem) * 0.025), calc(var(--size, 4rem) * 0.025)) */
    }
    100% {
        width:var(--size, 4rem);
        height:var(--size, 4rem);
        /* transform: translate(calc(var(--size, 4rem) * -0.025), calc(var(--size, 4rem) * -0.025)) */
    }
}