body .bg {
    position: relative;
    z-index: -1;
    display: grid;
    bottom: 0;
    width: 200vw;
    background:var(--accent);
}



.bg .bubbles .bubble {
    position: absolute;
    right:var(--position, 50%);
    background:var(--accent);
    border-radius:100%;

    animation-name: bubble-size, bubble-move;
    animation-duration: var(--time, 4s), var(--time, 4s);
    animation-timing-function: ease-in, ease-in;
    animation-iteration-count: infinite, infinite;
    animation-delay: var(--delay, 0.1s), var(--delay, 0.1s);
    animation-direction: normal, normal;
    animation-fill-mode: none, none;
    animation-play-state: running, running;

    /* -webkit-animation-name: bubble-size, bubble-move;
    -webkit-animation-duration: var(--time, 4s), var(--time, 4s);
    -webkit-animation-timing-function: ease-in, ease-in;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-delay: var(--delay, 0.1s), var(--delay, 0.1s);
    -webkit-animation-direction: normal, normal;
    -webkit-animation-fill-mode: none, none;
    -webkit-animation-play-state: running, running; */

    /* transform:translate3d(-50%, 100%, 0); */
    transform: translate(-50%, 100%);
}

.bg .bubbles {
    transform: translate3d(0, 0, 0);
    perspective: 1000;
    backface-visibility: hidden;

    position: fixed;
    top:0;
    left:0;
    right: 0;
    height: max(10vh, 40px);
    width: 200vw;
    background:var(--accent);
    -webkit-filter:url("#blob");
    filter:url("#blob");
}

@keyframes bubble-size {
    0%, 75% {
        width:var(--size, 4rem);
        height:var(--size, 4rem);
    }
    100% {
        width:0rem;
        height:0rem;
    }
}

@keyframes bubble-move {
    0% {
        top:-20rem;
    }
    100% {
        top:var(--distance, 10rem);
    }
}