form {
    margin-top: 1em;
}

.inlinegroup {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    flex-grow: 1;
    flex-basis: 300px;
}

.pure-group {
    /* display: flex;
    flex-direction: row; */
    margin-top: 1em;
}

.field {
    padding: 0.4em;
    border-radius: 0.5em !important;
    border: none;
    outline: none;
}

.field:hover {
    background-color: var(--bgheavyaccent);
}

.field:active {
    background-color: var(--bglightaccent)
}

.field:focus {
    background-color: var(--bglightaccent)
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

.honeypot-field {
    display: none;
}

label {
    font-weight: 400;
}