body h1 {
    position: relative;
    float: left;
    color: #fff;
}

body .jumbotron {
    background-color: rgba(0, 0, 0, 0.8);
}

body code {
    color: #fff;
}

body a {
    color: rgba(255, 255, 255, 0.75);
    font-style: italic;
}

body a:hover {
    color: #fff;
}

body p {
    font-size: 1.2em;
}