.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    max-width: 600px;
    align-items: left;
}

.buttongroup {
    display: flex;
    flex-wrap: wrap;
}

.marginup {
    margin-top: 0.5em;
}

.about {
    font-size: 1.2em;
}
