.navbar {
    background-color: rgba(255, 255, 255, 0);
    /* background-color: rgba(33, 33, 33, 1); */
}

body .navbar-brand {
    color: rgba(0, 0, 0, .7) !important;
    font-style: normal;
    font-weight: bold;
}

body .navbar-brand:hover {
    color: rgba(0, 0, 0, 1) !important;
}

body .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, 1) !important;
}

body .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .7) !important;
    font-weight: 400;
    font-style: normal;
}