.tag {
    display: inline-block;
    margin-right: 0.25em;
    margin-top: 0.125em;
    margin-bottom: 0.125em;

    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.6em;
    padding-right: 0.6em;


    border-radius: 0.5em;
    border: solid;
    border-width: 1px;
    border-color: transparent;

    color: white;
    font-size: 0.9em;
    font-weight: 500;

    background-color: var(--accentdark);

}