body h1 {
    font-family: 'Montserrat';
    font-weight: 600;
}

body {
    font-family: 'Raleway';
    background-color: #4C515D;
    color: rgba(255, 255, 255, .75);
}

body hr {
    background-color: darkgrey;
}